@import "../../../_css/common";

.form {
  width: 100%;
  margin-bottom: var(--base);
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 2);
  align-items: flex-start;
  margin-top: 20px;
  gap: 24px;
}

.submit {
  width: 100%;
}

.message {
  margin-bottom: var(--base);
}
